<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.cloud.cloudManor.mapper.CommentMapper">
    <!--添加评论-->
    <insert id="addComment">
   INSERT INTO comment (time, user_id,content,resource_id,pid) VALUES (now(), #{userId},#{content},#{resourceId},#{pid})
  </insert>

    <!--回显评论  List<Comment> huiXianComment(Integer resourceId);-->
    <select id="huiXianComment" resultType="com.buba.cloud.cloudManor.pojo.Comment">
     select image.img_dir imgDir,`user`.user_name userName,
    `comment`.time,`comment`.resource_id resourceId,`comment`.user_id userId,`comment`.content,`comment`.pid
     from comment LEFT JOIN  user  on `comment`.user_id=`user`.id
     LEFT JOIN image on image.id=`user`.image_id
     LEFT JOIN resource on `user`.id=resource.uid
     and resource.id=#{resourceId}
     ORDER BY  `comment`.time DESC
    </select>
    <!--  List<Comment> getAllWo(int id); 查询评论我的-->
    <select id="getAllWo" resultType="com.buba.cloud.cloudManor.pojo.Comment">
       SELECT * ,`image`.`img_dir`,(SELECT `image`.`img_dir`  FROM `image` WHERE `image`.`id`=`resource`.`image_id`)AS imagetu,`comment`.`id` AS commentId,`comment`.*
FROM `user`,`resource`,`comment`,`image`
WHERE `resource`.`uid`=#{id}
AND `comment`.`resource_id`=`resource`.`id`
AND `user`.`image_id`=`image`.`id`
AND `user`.`id`=`comment`.`user_id`
    </select>
    <!--  List<Comment> getAll(int id); 查询我评论的人-->
    <select id="getAll" resultType="com.buba.cloud.cloudManor.pojo.Comment">
     SELECT `image`.`img_dir`,(SELECT `image`.`img_dir`  FROM `image` WHERE `image`.`id`=`resource`.image_id)AS imagetu,`user`.`user_name`,`comment`.`content`
FROM`comment`,`image`,`resource`,`user`
WHERE `user`.`id`=#{id}
AND `user`.`id`=`comment`.`user_id`
AND `user`.`image_id`=`image`.`id`
AND `comment`.`resource_id`=`resource`.`id`
AND `resource`.`uid`=`user`.`id`
    </select>
    <!--int delete (int id); 删除评论-->
    <delete id="delete">
        delete from `comment` where id=#{id}
    </delete>
</mapper>