<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.cloud.cloudManor.mapper.CultivatePersonCenterMapper">
<!--通过user id获取养护人信息
User pullMaintenanceInformation(Integer userId);-->
    <select id="pullMaintenanceInformation" resultType="com.buba.cloud.cloudManor.pojo.User">

          SELECT
              us.*,image.img_name imgName
          FROM
              `user` us,image
          WHERE
              us.image_id = image.id and image.type_code='user_head' AND us.id  = #{userId}

    </select>
<!--  通过user id查询对应资源数量
Integer pullTheNumberOfResources(@Param("userId") Integer userId);-->
    <select id="pullTheNumberOfResources" resultType="int">
        SELECT
           COUNT(*)
        FROM
            `user` us,resource r
        where
            us.id  = #{userId}
        and
            us.id  = r.uid
    </select>
<!--    通过user id查询对应的余额
    Double pullMaintenanceBalance(@Param("userId")Integer userId);-->
    <select id="pullMaintenanceBalance" resultType="double">
        SELECT
            user_info.recode_money
        FROM
            `user`,user_info
        WHERE
            `user`.id=user_info.user_id
        and
            `user`.id  = #{userId}
    </select>
<!--    通过user id查询发布的资源 (状态：已售出)
    List<CenterControllerResourceVo> pullConservationResources(@Param("userId")Integer userId);-->
    <select id="pullConservationResources" resultType="com.buba.cloud.cloudManor.pojo.CenterControllerResourceVo">
       SELECT
            resource.*
            ,image.img_name imgName
        FROM
            image, resource,img_rlation,digital
        WHERE
            resource.uid  = #{userId}
				AND resource.id=img_rlation.other_id
				AND img_rlation.image_id=image.id
				AND img_rlation.type_code=(SELECT digital.id FROM digital WHERE digital.`name`='资源主图')
				AND digital.`name`='资源主图'
        AND resource.master_type=1
    </select>
    <!--    通过user id查询发布的资源 (状态：未售出)
    List<CenterControllerResourceVo> pullConservatioNunsoldResources(@Param("userId")Integer userId);-->
    <select id="pullConservatioNunsoldResources" resultType="com.buba.cloud.cloudManor.pojo.CenterControllerResourceVo">
       SELECT
            resource.*
            ,image.img_name imgName
        FROM
            image, resource,img_rlation,digital
        WHERE
            resource.uid  = #{userId}
				AND resource.id=img_rlation.other_id
				AND img_rlation.image_id=image.id
				AND img_rlation.type_code=(SELECT digital.id FROM digital WHERE digital.`name`='资源主图')
				AND digital.`name`='资源主图'
        AND resource.master_type=0
    </select>
<!--    添加农事表
    boolean batchCommitResources(@Param("userId")Integer userId,@Param("content") String content, @Param("resourceId")int resourceId);-->
    <insert id="batchCommitResources" >
        INSERT INTO
            agriculture(agriculture.user_id,agriculture.resource_id,agriculture.`code`
            ,agriculture.content,agriculture.put_time)
         VALUES(#{userId},#{resourceId},'unfinished',#{content},NOW())
  </insert>
<!--    /*通过资源id删除资源*/
    boolean deleteResources(@Param("resourceId")int i);-->
    <delete id="deleteResources">
        DELETE FROM resource WHERE resource.id=#{resourceId}
    </delete>

<!--    //查找所有的资源类型表的数据，返回list集合。
    List<BusinessResourceUserVo> selectResourceType();-->
    <select id="selectResourceType" resultType="com.buba.cloud.cloudManor.pojo.BusinessResourceUserVo">
    SELECT
            resource_type.id,resource_type.id resourceTypeId,resource_type.`name` resourceTypeName,resource_type.`code` resourceTypeCode
    FROM resource_type
    </select>

<!--    //拿到资源类型id，去查找该类型id对应的主营业务
    BusinessResourceUserVo selectBusinessResourceUser(@Param("userId")Integer userId,@Param("resourceTypeId")Integer resourceTypeId);-->
    <select id="selectBusinessResourceUser" resultType="com.buba.cloud.cloudManor.pojo.BusinessResourceUserVo">
        SELECT * FROM user_business WHERE user_business.resource_type_id=#{resourceTypeId} AND user_business.user_id=#{userId}
    </select>

<!--    //通过UserId,资源类型id，主要业务 三个字段添加主营业务表
    boolean submitBusinessResourceUser(@Param("userId")Integer userId, @Param("resourceTypeId")Integer resourceTypeId,@Param("details") String details);-->
    <insert id="submitBusinessResourceUser" >
        INSERT INTO
            user_business(user_business.user_id,user_business.resource_type_id,user_business.details)
        VALUES(#{userId},#{resourceTypeId},#{details})
  </insert>
<!--    //查询userId和资源类型id是否已经存在，存在就修改，不存在就添加
    Integer selectBusinessResourceUserCount(@Param("userId")Integer userId, @Param("resourceTypeId")Integer resourceTypeId);-->
    <select id="selectBusinessResourceUserCount" resultType="int">
        SELECT COUNT(id) FROM user_business WHERE user_business.user_id=#{userId} AND user_business.resource_type_id=#{resourceTypeId}
    </select>

<!--    //  已经存在就修改
    boolean updatetBusinessResourceUser(@Param("userId")Integer userId, @Param("resourceTypeId")Integer resourceTypeId, @Param("details")String details);-->
        <update id="updatetBusinessResourceUser">
             UPDATE
                user_business
            set user_business.details=#{details}
            WHERE user_business.user_id=#{userId} AND user_business.resource_type_id=#{resourceTypeId}
        </update>
</mapper>