<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.cloud.cloudManor.mapper.MyManorMapper">

    <!--
    //获取我的关注数量
    int getAttentionNum(Integer userId);
    -->
    <select id="getAttentionNum" resultType="int">
            select count(*) from attention where from_user_id = #{userId}
    </select>

    <!--
     //获取我的喜欢数量
    int getMyLikeNum(Integer userId);
    -->
    <select id="getMyLikeNum" resultType="int">
            select count(*) from user_like where from_user_id = #{userId}
    </select>

    <!--
     //获取我的评论数量
    int getMyCommentNum(Integer userId);
    -->
    <select id="getMyCommentNum" resultType="int">
            select count(*) from comment where user_id=#{userId}
    </select>
    <!--
    //获取我的订单数量
    int getMyOrderNum(Integer userId);
    -->
    <select id="getMyOrderNum" resultType="int">
            select count(*) from orders where user_id=#{userId}
    </select>

    <!--
    //获取我的庄园 当前农事和视频
    List<OrderAgricultureVO> getOrderAgriculture(Integer userId);
    -->
    <resultMap id="orderAgricultureMap" type="com.buba.cloud.cloudManor.pojo.OrderAgricultureVO" autoMapping="true">
        <result property="orderId" column="orderId"></result>
        <result property="resourceId" column="resourceId"></result>
        <result property="content" column="content"></result>
        <result property="aId" column="aId"></result>
        <collection property="orderAgricultureImgVO" ofType="com.buba.cloud.cloudManor.pojo.OrderAgricultureImgVO" column="aId">
            <result property="imgName" column="imgName"></result>
            <result property="imgDir" column="imgDir"></result>
            <result property="typeCode" column="typeCode"></result>
            <result property="imgId" column="imgId"></result>
        </collection>
    </resultMap>
    <select id="getOrderAgriculture" resultMap="orderAgricultureMap" >
            select o.id orderId,r.id resourceId,a.content content,
             a.id aId,i.img_name imgName,i.img_dir imgDir,i.type_code typeCode,i.id imgId
             from orders o
			 left join resource r on o.resource_id = r.id
			 left join agriculture a on r.id = a.resource_id
			 left join img_rlation ir on ir.other_id = a.id
			 left join image i on i.id=ir.image_id
			 where a.`code`=8
             and o.user_id=#{userId}
			 and (ir.type_code=20 or ir.type_code=21)
    </select>

    <!-- 获取首页视频地址和信息 List<IndexVO> getIndex(); -->
    <select id="getIndex" resultType="com.buba.cloud.cloudManor.pojo.IndexVO">
        SELECT resource.id,resource.title,resource.re_type_code AS reTypeCode,image.img_dir AS videoPath,address.name AS address
        FROM resource LEFT JOIN image ON resource.image_id=image.id
        LEFT JOIN user ON resource.uid = user.id
        LEFT JOIN address ON user.address_id = address.id
    </select>

</mapper>