<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.cloud.cloudManor.mapper.ReleaseResourceMapper">

    <!--//添加resource
    int resourceadd(ResourceVO resourceVO);-->
    <insert id="resourceadd" useGeneratedKeys="true" keyProperty="id">
        insert into resource(title,re_type_code,uid,public_date,money) values (#{title},#{reTypeCode},#{uid},now(),#{money})
    </insert>
    
    <!-- //添加林业表
    boolean resourceTreeadd(ResourceVO resourceVO);
    -->
    <insert id="resourceTreeadd">
        insert into resourcetreedetail values (null,#{id},#{breedName},#{treeAge},#{yearlyOutput},#{diameter},#{leaseTime},#{geographicPosition})
    </insert>
    <!-- //添加畜牧业表
    boolean resourceAnimaladd(ResourceVO resourceVO);-->
    <insert id="resourceAnimaladd">
        insert into resourceanimaldetail values (null,#{id},#{breedName},#{weight},#{colour},#{age},#{vaccine},#{geographicPosition})
    </insert>
    <!--//添加地块表
    boolean resourceGroundadd(ResourceVO resourceVO);-->
    <insert id="resourceGroundadd">
        insert into resourcegrounddetail values (null,#{id},#{plantType},#{yield},#{proportion},#{landType},#{leaseTime},#{geographicPosition})
    </insert>

    <!-- //上传图片表
    int resourceImgadd(Image image);-->
    <insert id="resourceImgadd" useGeneratedKeys="true" keyProperty="id">
        insert into image(img_dir,img_name,code_type) values (#{imgDir},#{imgName},#{typeCode})
    </insert>

    <!--//上传图片中间表
    boolean resourceImgRlationadd(Integer id, Integer resourceid);-->
    <insert id="resourceImgRlationadd">
        insert into img_rlation (type_code,image_id,other_id) values (#{typecode},#{id},#{resourceid});
    </insert>
    
</mapper>