<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.cloud.cloudManor.mapper.ResourceDetailsMapper">
    <!--/*获取农事*/
    Agriculture GETAgriculture(@Param("id") int rid,int mid);-->
    <select id="GETAgriculture" resultType="com.buba.cloud.cloudManor.pojo.Agriculture">
        select agriculture.id,agriculture.content,agriculture.put_time
        FROM agriculture,resource
        WHERE resource.id=agriculture.resource_id
        and resource.master_id=#{mid}
        and agriculture.resource_id=#{rid}
        ORDER BY agriculture.put_time DESC LIMIT 0,1
    </select>
    <!--/*提交农事*/
    boolean INSAgriculture(@Param("agriculture")Agriculture agriculture);-->
    <insert id="INSAgriculture" parameterType="com.buba.cloud.cloudManor.pojo.Agriculture">
        insert into agriculture (user_id,put_time,resource_id,content,code)
        values (#{agriculture.userId},now(),#{agriculture.resourceId},#{agriculture.content},1)
    </insert>
   <!-- /*获取养护记录*/
    List<AgricultureOperation> GETAgricultureOperation(@Param("id") int rid，int mid);-->
    <select id="GETAgricultureOperation" resultType="com.buba.cloud.cloudManor.pojo.AgricultureOperation">
        select a.id,a.oper_time,a.title,image.img_name,image.img_dir
        from agriculture_operation as a,img_rlation,image,resource
        where resource.id=a.resource_id
        and a.id=img_rlation.other_id
        and img_rlation.image_id=image.id
		and resource.master_id=#{mid}
        and image.type_code="maint_records"
        and a.resource_id=#{rid}
    </select>
</mapper>